<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ABD_App</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="../static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="../static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button shadow-lg" style="background: var(--bs-primary);">
        <div class="container"><a class="navbar-brand" href="#" style="font-size: 32px;color: rgb(255, 206, 103);">Tilia&nbsp;<i class="fas fa-leaf"></i></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">News</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Control Panel</a></li>
                </ul><span class="navbar-text text-white">Logged as:</span><strong class="m-3" style="color: rgb(255,206,103);">Teacher&nbsp;<i class="fas fa-chalkboard-teacher"></i>&nbsp;</strong><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="#">Log Out</a></span>
            </div>
        </div>
    </nav>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-4">
                <div class="d-flex flex-column shadow-lg rounded-3 my-4">
                    <h2 class="px-3 pt-3" style="margin: 0;"><i class="far fa-list-alt"></i>&nbsp;Sidebar</h2>
                    <hr style="height: 2px;">
                    <ul class="list-group mb-3">
                        <li class="list-group-item border-0"><button class="btn btn-outline-secondary active w-100 text-start" type="button"><i class="far fa-eye"></i>&nbsp;Overview</button></li>
                        <li class="list-group-item border-0"><button class="btn btn-outline-secondary w-100 text-start" type="button"><i class="fas fa-chalkboard-teacher"></i>&nbsp;Lectures</button></li>
                        <li class="list-group-item border-0"><a href="{{ url_for('grading.landing') }}"><button class="btn btn-outline-secondary w-100 text-start" type="button"><i class="fas fa-edit"></i>&nbsp;Grading</button></a></li>
                        <li class="list-group-item border-0"><button class="btn btn-outline-secondary w-100 text-start" type="button"><i class="fas fa-users"></i>&nbsp;Classes</button></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="d-flex flex-column shadow-lg rounded-3 my-4">
                    <h2 class="px-3 pt-3" style="margin: 0;">&nbsp;<i class="far fa-eye"></i>&nbsp;Overview</h2>
                    <hr style="height: 2px;">
                    <div class="row px-1 mb-4">
                        <div class="col-12">
                            <p class="px-3 overview-secondary m-0"><i class="far fa-calendar-alt" style="font-size: 20px;"></i>&nbsp;Recent lectures</p>
                        </div>
                        <div class="col d-flex flex-column m-4 p-1 shadow rounded-3">
                            <div class="row">
                                <div class="col">
                                    <p class="text-center p-1 m-0"><i class="fas fa-calendar" style="width: 18.003px;"></i>&nbsp;Yesterday</p>
                                </div>
                            </div>
                            <div class="row text-center flex-column flex-grow-1">
                                <div class="col d-flex flex-column flex-grow-1 justify-content-center align-items-start">
                                    <div class="row row-cols-2 d-flex flex-row flex-grow-1 align-items-stretch align-content-stretch align-self-stretch">
                                        <div class="col-auto flex-grow-1 align-items-start">
                                            <p class="text-start p-1 m-0"><i class="fas fa-users"></i><strong>&nbsp;</strong>2B</p>
                                        </div>
                                        <div class="col-auto flex-grow-1 align-items-end">
                                            <p class="text-end p-1 m-0"><strong>&nbsp;</strong>23&nbsp;<i class="fas fa-hand-paper" style="font-size: 16px;"></i></p>
                                        </div>
                                    </div>
                                    <p class="text-start p-1 m-0"><i class="fas fa-chalkboard"></i><strong>&nbsp;</strong>Wielomiany - ćwiczenia, cz. 1</p>
                                    <p class="text-center p-1 m-0"><i class="fas fa-clock" style="font-size: 20px;"></i><strong>&nbsp;</strong>8:00 - 8:45</p><button class="btn btn-primary justify-content-center align-items-end align-content-center mx-auto my-2" type="button">Edit details</button>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex flex-column m-4 p-1 shadow rounded-3">
                            <div class="row">
                                <div class="col">
                                    <p class="text-center p-1 m-0"><i class="fas fa-calendar" style="width: 18.003px;"></i>&nbsp;Yesterday</p>
                                </div>
                            </div>
                            <div class="row text-center flex-column flex-grow-1">
                                <div class="col d-flex flex-column justify-content-center align-items-start">
                                    <div class="row row-cols-2 d-flex flex-row flex-grow-1 align-items-stretch align-content-stretch align-self-stretch">
                                        <div class="col-auto flex-grow-1 align-items-start">
                                            <p class="text-start p-1 m-0"><i class="fas fa-users"></i><strong>&nbsp;</strong>2B</p>
                                        </div>
                                        <div class="col-auto flex-grow-1 align-items-end">
                                            <p class="text-end p-1 m-0"><strong>&nbsp;</strong>24&nbsp;<i class="fas fa-hand-paper" style="font-size: 16px;"></i></p>
                                        </div>
                                    </div>
                                    <p class="text-start p-1 m-0"><i class="fas fa-chalkboard"></i><strong>&nbsp;</strong>Wielomiany - ćwiczenia, cz. 2</p>
                                    <p class="text-center p-1 m-0"><i class="fas fa-clock" style="font-size: 20px;"></i><strong>&nbsp;</strong>8:55 - 9:40</p><button class="btn btn-primary justify-content-center align-items-end align-content-center mx-auto my-2" type="button">Edit details</button>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex flex-column flex-grow-1 flex-shrink-0 m-4 p-1 shadow rounded-3">
                            <div class="row">
                                <div class="col">
                                    <p class="text-center p-1 m-0"><i class="fas fa-calendar" style="width: 18.003px;"></i>&nbsp;Today</p>
                                </div>
                            </div>
                            <div class="row text-center flex-grow-1">
                                <div class="col d-flex flex-column flex-grow-1 justify-content-center align-items-xl-center"><i class="fas fa-plus" style="font-size: 60px;"></i>
                                    <p class="text-center p-1 m-0"><strong>New lecture</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row px-1">
                        <div class="col-12">
                            <p class="px-3 overview-secondary m-0"><i class="fas fa-edit" style="width: 17.253px;"></i><strong>&nbsp;</strong>Recent exams</p>
                        </div>
                        <div class="col d-flex flex-column m-4 p-1 shadow rounded-3">
                            <div class="row">
                                <div class="col">
                                    <p class="text-center p-1 m-0"><i class="fas fa-calendar" style="width: 18.003px;"></i>&nbsp;29.09.2021</p>
                                </div>
                            </div>
                            <div class="row row-cols-2 d-flex flex-row flex-grow-1 align-items-stretch align-content-stretch align-self-stretch">
                                <div class="col-auto flex-grow-1 align-items-start">
                                    <p class="text-start p-1 m-0"><i class="fas fa-users"></i><strong>&nbsp;</strong>2B</p>
                                </div>
                                <div class="col-auto flex-grow-1 align-items-end">
                                    <p class="text-end p-1 m-0"><strong>&nbsp;</strong>23&nbsp;<i class="fas fa-pen" style="font-size: 16px;"></i></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p-1 m-0"><i class="fas fa-edit"></i>&nbsp;Maths</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p-1 m-0"><i class="fas fa-chalkboard"></i>&nbsp;Geometria płaska</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="text-start p-1 m-0"><i class="fas fa-clock" style="font-size: 20px;"></i><strong>&nbsp;</strong>8:00 - 8:45</p>
                                </div>
                            </div><button class="btn btn-primary text-center justify-content-center align-items-end align-content-center mx-auto my-2" type="button">Edit details</button>
                        </div>
                        <div class="col d-flex flex-column m-4 p-1 shadow rounded-3" style="background: radial-gradient(var(--bs-body-bg) 0%, var(--bs-primary) 225%);">
                            <div class="row">
                                <div class="col">
                                    <p class="text-center p-1 m-0"><i class="fas fa-hourglass-half" style="width: 18.003px;"></i><i class="fas fa-calendar-plus" style="width: 18.003px;"></i>&nbsp;02.12.2021</p>
                                </div>
                            </div>
                            <div class="row row-cols-2 d-flex flex-row flex-grow-1 align-items-stretch align-content-stretch align-self-stretch">
                                <div class="col-auto flex-grow-1 align-items-start">
                                    <p class="text-start p-1 m-0"><i class="fas fa-users"></i><strong>&nbsp;</strong>3A</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p-1 m-0"><i class="fas fa-edit"></i>&nbsp;Maths</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="p-1 m-0"><i class="fas fa-chalkboard"></i>&nbsp;Wielomiany</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="text-start p-1 m-0"><i class="fas fa-clock" style="font-size: 20px;"></i><strong>&nbsp;</strong>11:30 - 12:15</p>
                                </div>
                            </div><button class="btn btn-primary text-center justify-content-center align-items-end align-content-center mx-auto my-2" type="button">Edit details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>