<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ABD_App</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="../static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="../static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button shadow-lg" style="background: var(--bs-primary);">
        <div class="container"><a class="navbar-brand" href="#" style="font-size: 32px;color: rgb(255, 206, 103);">Tilia&nbsp;<i class="fas fa-leaf"></i></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">News</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Control Panel</a></li>
                </ul><span class="navbar-text text-white">Logged as:</span><strong class="m-3" style="color: rgb(255,206,103);">Teacher&nbsp;<i class="fas fa-chalkboard-teacher"></i>&nbsp;</strong><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="{{ url_for('login.log_out') }}">Log Out</a></span>
            </div>
        </div>
    </nav>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-4">
                <div class="d-flex flex-column shadow-lg rounded-3 my-4">
                    <h2 class="px-3 pt-3" style="margin: 0;"><i class="far fa-list-alt"></i>&nbsp;Sidebar</h2>
                    <hr style="height: 2px;">
                    <ul class="list-group mb-3">
                        <li class="list-group-item border-0"><a href="{{ url_for('teacher.landing') }}"><button class="btn btn-outline-secondary w-100 text-start" type="button"><i class="far fa-eye"></i>&nbsp;Overview</button></a></li>
                        <li class="list-group-item border-0"><a href="{{ url_for('lectures.landing') }}"><button class="btn btn-outline-secondary w-100 text-start" type="button"><i class="fas fa-chalkboard-teacher"></i>&nbsp;Lectures</button></a></li>
                        <li class="list-group-item border-0"><a href="{{ url_for('grading.landing') }}"><button class="btn btn-outline-secondary active w-100 text-start" type="button"><i class="fas fa-edit"></i>&nbsp;Grading</button></a></li>
                        <li class="list-group-item border-0"><a href="{{ url_for('classes.landing') }}"><button class="btn btn-outline-secondary w-100 text-start" type="button"><i class="fas fa-users"></i>&nbsp;Classes</button></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="d-flex flex-column shadow-lg rounded-3 my-4">
                    <h2 class="px-3 pt-3" style="margin: 0;">&nbsp;<i class="far fa-calendar-alt"></i>&nbsp;Grades</h2>
                    <hr style="height: 2px;">
                    {% if success %}
                    <div class="alert alert-success" role="alert">
                        New grade added to database!
                    </div>
                    {% endif %}
                    <div class="row px-1">
                        
                        {% for pupil, grade in gradings%}
                                    <div class="col-3 m-4 p-1 shadow rounded-3">
                                        <div class="row">
                                            <div class="col">
                                                <p class="p-1 m-0" style="text-align: center;"><i class="fas fa-calendar"
                                                        style="width: 18.003px;"></i>&nbsp;{{ grade.date }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="p-1 m-0"><i class="fas fa-graduation-cap"></i>&nbsp;{{ pupil.login }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="p-1 m-0"><i class="fas fa-edit"></i>&nbsp;{{ grade.subject }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="p-1 m-0"><i class="fas fa-chalkboard"></i>&nbsp;{{ grade.description }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="p-1 m-0"><i class="fas fa-star"></i>&nbsp;{{ grade.grade }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="p-1 m-0"><i class="fas fa-weight-hanging"></i>&nbsp;{{ grade.weight }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="p-1 m-0" style="text-align: center;"><button class="btn btn-primary justify-content-center align-items-end align-content-center mx-auto my-2" type="button">Edit details</button></p>
                                            </div>
                                        </div>
                                        
                                    </div>

                                    {% endfor %}

                                    <div class="col-3 m-4 p-1 shadow rounded-3">
                                        <div class="row">
                                            <div class="col">
                                                <p class="text-center p-1 m-0"><i class="fas fa-calendar" style="width: 18.003px;"></i>&nbsp;Today</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col d-flex flex-column flex-grow-1 justify-content-center align-items-xl-center">
                                            <button type="button" class="btn btn-default"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                                              
                                                <i class="fas fa-plus" style="font-size: 60px; color: grey"></i>
                                                <p class="text-center p-1 m-0" style="color: grey"><strong>Add grade</strong></p>
                                                </button>
                                
                                            
                                        </button>
                                    </div>
                                        </div>
                            </div>
                            
                            </div>       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content shadow rounded-3">
        <form method="POST">
          <div class="row">
              <div class="py-1 form-group">
                  <label for="gradeDate" class="p-1 m-0"><i class="fas fa-calendar"></i></label>
                  <input type="text" class="form-control" id="gradeDate" name="gradeDate">
              </div>
          </div>
                <div class="row">
                    <div class="py-1 form-group">
                        <label for="gradePupil" class="p-1 m-0"><i class="fas fa-graduation-cap"></i></label>
                        <select class="form-control" id="gradePupil" name="gradePupil">
                            {% for pupil in pupils %}
                            <option value="{{pupil.id}}">{{ pupil.name + ' ' + pupil.surname }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="py-1 form-group">
                        <label for="gradeSubject" class="p-1 m-0"><i class="fas fa-edit"></i></label>
                        <select class="form-control" id="gradeSubject" name="gradeSubject">
                            <option value="CHEMISTRY">CHEMISTRY</option>
                            <option value="MATHS">MATHS</option>
                            <option value="ENGLISH">ENGLISH</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="py-1 form-group">
                        <label for="gradeDescription" class="p-1 m-0"><i class="fas fa-chalkboard"></i></label>
                        <input type="text" class="form-control" id="gradeDescription" name="gradeDescription">
                    </div>
                </div>
                <div class="row">
                    <div class="py-1 form-group">
                        <label for="gradeGrade" class="p-1 m-0"><i class="fas fa-star"></i></label>
                        <select type="text" class="form-control" id="gradeGrade" name="gradeGrade">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="py-1 form-group">
                        <label for="gradeWeight" class="p-1 m-0"><i class="fas fa-weight-hanging"></i></label>
                        <select type="text" class="form-control" id="gradeWeight" name="gradeWeight">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="p-1 m-0" style="text-align: center;"><button class="btn btn-primary justify-content-center align-items-end align-content-center mx-auto my-2" type="submit">Add grade</button></p>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  
  
  <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>