<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ABD_App</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="../static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="../static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button shadow-lg"
        style="background: var(--bs-blue);">
        <div class="container"><a class="navbar-brand" href="#"
                style="font-size: 32px;color: rgb(255, 206, 103);">Tilia&nbsp;<i class="fas fa-leaf"></i></a><button
                data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">News</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Control Panel</a></li>
                </ul><span class="navbar-text text-white">Logged as:</span><strong class="m-3"
                    style="color: rgb(255,206,103);">Pupil&nbsp;<i class="fas fa-user-graduate"></i>&nbsp;</strong><span
                    class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="#">Log
                        Out</a></span>
            </div>
        </div>
    </nav>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-4">
                <div class="d-flex flex-column shadow-lg rounded-3 my-4">
                    <h2 class="px-3 pt-3" style="margin: 0;"><i class="far fa-list-alt"></i>&nbsp;Sidebar</h2>
                    <hr style="height: 2px;">
                    <ul class="list-group mb-3">
                        <li class="list-group-item border-0"><a href="{{ url_for('pupil.landing') }}"><button
                                    class="btn btn-outline-secondary w-100 text-start" type="button"><i
                                        class="far fa-eye"></i>&nbsp;Overview</button></a></li>
                        <li class="list-group-item border-0"><a href="{{ url_for('attendance.landing') }}"><button
                                    class="btn btn-outline-secondary w-100 text-start" type="button"><i
                                        class="far fa-calendar-alt"></i>&nbsp;Attendance</button></a></li>
                        <li class="list-group-item border-0"><a href="{{ url_for('grades.landing') }}"><button
                                    class="btn btn-outline-secondary w-100 text-start" type="button"><i
                                        class="fas fa-edit"></i>&nbsp;Grades</button></a></li>
                        <li class="list-group-item border-0"><a href="{{ url_for('your_performance.landing') }}"><button
                                    class="btn btn-outline-secondary active w-100 text-start" type="button"><i
                                        class="fas fa-tachometer-alt"></i>&nbsp;Your performance</button></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="d-flex flex-column shadow-lg rounded-3 my-4">
                    <h2 class="px-3 pt-3" style="margin: 0;">&nbsp;<i class="far fa-calendar-alt"></i>&nbsp;Your
                        performance</h2>
                    <hr style="height: 2px;">
                    <div class="row px-1">
                        {% for subject in listofgrades %}
                        <div class="col-3 m-4 p-1 shadow rounded-3">
                            <div class="row">
                                <div class="col">
                                    <p class="p-1 m-0" style="text-align: center;"><i class="fas fa-edit"
                                            style="width: 18.003px;"></i>&nbsp;{{ subject.name }}</p>
                                </div>
                            </div>
                            <div class="row flex-grow-1 align-content-center">
                                <div class="col">
                                    <p class="p-1 m-0" style="text-align: center;"><i
                                            class="fas fa-calculator"></i>&nbsp;{{ subject.average }}</p>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <h2>No entries yet. Add some!</h2>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>